.search {
    width: 300px;
    padding: 10px 20px;
    /* margin: 5px; */
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: 4px solid cyan;
}