<h3>Todos List</h3>
@if (!todoItems().length) {
<p class="no-todos">Loading...</p>
}



<ul class="todos">
    <form action="">
        <label class="todo-label">Search Todo: </label>
        <input type="text" name="searchTerm" class="todo-search" placeholder="Search todos..."
            [(ngModel)]="searchTerm" />
    </form>
    @for(todo of todoItems() | filterTodo : searchTerm(); track todo.id) {
    <app-todo-item (todotoggled)="updateTodoItem($event)" [todo]="todo"></app-todo-item>
    }
</ul>