.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    padding: 10px;
}

.name {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 4px solid #ccc;
    border-radius: 15px;
    background-color: black;
    color: white;
}